@import '~antd/dist/antd.css';

.App {

  height: 100%;
  
}

.App .layout{
  height: 100%;
}

.App-link {
  color: #61dafb;
}

.App .ant-layout-header{
  background: #d4c8be; 
}

.App .ant-layout-header .ant-menu{
  background: #fff; 
  
}

.App .ant-layout-content {
  background: #fff; 

}

.App .ant-layout-footer{
  background: #fff; 
  height:150px;

}


.App .ant-layout-content .wrap{
  background: #fff; 
  height: 1000px;
  padding: 24px;
  

}

