@import '~antd/dist/antd.css';

.App {

  height: 100%;
 
}

.App .layout{
  height: 100%;
  
}

.App-link {
  color: #61dafb;
}

.App .ant-layout-header{
  background: #d4c8be url('../Pics/shopfront.jpg'); 
  height:30%;
  background-size:cover
}

.App .ant-layout-header .ant-menu{
  background: #fff; 
  
}

.App .ant-layout-content {
  padding: 0px 15px;
  background: #fff ;
  height:45%;   
}

.App .ant-layout-footer{
  background: #fff; 
  height:25%;

}


.App .ant-layout-content .wrap{
  background: #fff; 
  padding: 5px;
  height:100%;

}
