@import '~antd/dist/antd.css';

.App {

  height: 100%;
  
}

.App .layout{
  height: 100%;
}

.App-link {
  color: #61dafb;
}

.App .ant-layout-header{
  background: #d4c8be; 
}

.App .ant-layout-header .ant-menu{
  background: #fff; 
  
}

.App .ant-layout-content {
  padding: 0px 50px;
  background: #fff; 
 
  
}

.App .ant-layout-footer{
  background: #fff; 
  height:12%;

}


.App .ant-layout-content .wrap{
  background: #fff; 
  padding: 24px;
  height:100%;

}

