.welcome{
    text-align: center;
    
}

.welcome .clock{
  text-align: right;
  
}

.welcome .wrap{
  text-align: center;
  
}

.welcome .content{
  font-size: 1rem;
  
}

.welcome .content .contentPic{ 
  font-size: 20px;
  
  
}