.product {
   height:100%;
    
}

.product .warp .content{
    
    height:98%;
}

.product .ant-pagination{
    text-align: center;
    position: relative;
    
  

}


img{
    height: 180px;
    width: 180px;
}